<div class="container-90">
    <section class="hero">
        <div class="hero-content text-center">
            <h2 class="hero-heading">¡Quiero Vender!</h2>
        </div>
    </section>

    <hr>

    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-12 align-content-center">
                    <div class="row">
                        <div class="col-md-6 text-center mb-4">
                            <h3 class="mb-3">¿Comercializas tus propios productos?</h3>
                            <img src="../../../assets/img/contact-icons/bg-blueprint.png" height="150px" alt="">
                        </div>
                        <div class="col-md-6 text-center mb-4">
                            <h3 class="mb-3">¿Quieres aumentar tus ventas?</h3>
                            <img src="../../../assets/img/contact-icons/bg-sales.png" height="150px" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center mb-4">
                            <h3 class="mb-3">¿Enviar pedidos te quita tiempo?</h3>
                            <img src="../../../assets/img/contact-icons/bg-delivery.png" height="150px" alt=" ">
                        </div>
                        <div class="col-md-6 text-center mb-4 ">
                            <h3 class="mb-3">¿No sabes cómo crear tu tienda online?</h3>
                            <img src="../../../assets/img/contact-icons/bg-online.png " height="150px " alt=" ">
                        </div>
                    </div>
                    <div class="col-md-12 mx-auto mt-4">
                        <h2 class="text-center"> Te presentamos</h2>
                        <p class="logo-txt my-3 text-center ">
                            <span class="logo-letter-pink">C</span>
                            <span class="logo-letter-orange">A</span>
                            <span class="logo-letter-salmon">M</span>
                            <span class="logo-letter-yellow">A</span>
                            <span class="logo-letter-lemon">L</span>
                            <span class="logo-letter-grass">E</span>
                            <span class="logo-letter-green">O</span>
                            <span class="logo-letter-blue">N</span>
                        </p>
                        <h3 class="text-center mt-5 mb-3">Apoyamos a fabricantes Colombianos con:</h3>
                        <ul>
                            <li> Creamos la tienda online dentro de Camaleon gratis</li>
                            <li> Brindamos múltiples métodos de pago para darles alternativas a los compradores</li>
                            <li> Recogemos y entregamos sus pedidos</li>
                            <li> Solo cobramos una comisión por venta exitosa</li>
                            <li> Disponibilidad de nuestros expertos para tus necesidades</li>
                        </ul>
                    </div>

                    <div class="col-md-12 mx-auto mt-4 ">
                        <h3 class=" text-center mb-3 "> ¿Qué debes hacer? </h3>
                        <ol>
                            <li>Envíanos tus datos diligenciando el formulario a continuación</li>
                            <li>Te contactaremos para conocerte y pedirte información adicional sobre tu marca y productos</li>
                            <li>Montaremos tu tienda y te enviaremos un link propio donde estarán tu marca y los productos que nos hayas enviado
                            </li>
                            <li>Todo listo. Empieza a vender! </li>
                        </ol>
                    </div>


                    <div class="col-md-12 mx-auto text-center mt-5 mb-2 ">
                        <h2> ¿Empezamos?</h2>
                    </div>
                    <form ngNativeValidate [formGroup]="formContact " (ngSubmit)="sbContact() ">
                        <div class="controls ">
                            <div class="row ">
                                <div class="col-sm-6 ">
                                    <div class="form-group ">
                                        <label for="name " class="form-label ">Nombre*</label>
                                        <input formControlName="name " name="name " id="name " type="text " class="form-control " required>
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="form-group ">
                                        <label for="lastName " class="form-label ">Apellido*</label>
                                        <input formControlName="lastName " name="lastName " id="lastName " type="text " class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-6 ">
                                    <div class="form-group ">
                                        <label for="email " class="form-label ">Correo Electrónico*</label>
                                        <input formControlName="email " name="email " id="email " type="text " class="form-control " required>
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="form-group ">
                                        <label for="phone " class="form-label ">Teléfono</label>
                                        <input formControlName="phone " name="phone " id="phone " type="text " class="form-control ">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="message " class="form-label ">Mensaje*</label>
                                <textarea class="form-control " formControlName="message " rows="4 " id="message " class="form-control " required></textarea>
                            </div>
                            <button type="submit " class="btn btn-outline-dark w-100 ">
                              <i class="far fa-paper-plane mr-2 "></i>Enviar!
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>