<div class="container-90">
    <section class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-1 order-lg-1">
                    <div class="row">
                        <!--carrusel-->
                        <div id="carouselExampleIndicators" class="carousel slide shadow" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" [src]="item.images[0]" alt="First slide">
                                </div>
                                <div *ngFor="let image of item.images | slice:1" class="carousel-item">
                                    <img class="d-block w-100" [src]="image" alt="First slide">
                                </div>
                            </div>
                            <a *ngIf="item.images.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a *ngIf="item.images.length > 1" class=" carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--/carrusel-->
                    </div>
                </div>
                <div class="col-lg-5 pl-lg-4 order-2 order-lg-2">

                    <h1 class="mb-md-2 mt-3 product-detail-title">{{item.name}}</h1>

                    <div class="mb-md-4 mt-3 row justify-content-center">
                        <span class="align-center multi-words">by</span>
                        <a [routerLink]="['/store', item._storeCodeName]">
                            <h2 class="product-detail-store">{{item._storeCodeName|storeName}}</h2>
                        </a>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-2">
                            <ul class="list-inline mb-2 mb-sm-0">
                                <li class="list-inline-item h4 font-weight-light mb-0">{{item.price|currency}}</li>
                                <!--<input name="price" type="number" [value]="item.price">-->
                            </ul>
                        </div>
                    </div>

                    <div *ngFor="let option of item.options" class="mb-3">
                        <label class="detail-option-heading font-weight-bold">{{option.name}}</label>
                        <select class="form-control col-6">
                            <option value="seleccionar" selected>
                                Seleccionar...
                            </option>
                            <option *ngFor="let value of option.values" [value]="value">
                                {{value}}
                            </option>
                        </select>
                    </div>

                    <div class="row mx-auto justify-content-center">
                        <label class="detail-option-heading font-weight-bold text-center">Cantidad</label>
                    </div>

                    <div class="row mb-3 mx-auto justify-content-center">
                        <button class="btn btn-primary" (click)="quantity=quantity-1" [disabled]="quantity===1">
                            <i class="fa fa-minus"></i>
                        </button>
                        <input name="items" type="number" [value]="quantity" class="form-control detail-quantity">
                        <button class="btn btn-primary" (click)="quantity=quantity+1">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <button (click)="addToCart()" type="submit" class="btn btn-dark btn-lg mb-2 col-12"> <i
                            class="fa fa-shopping-cart mr-2"></i>Agregar
                        al carrito</button>

                    <p class="text-success" *ngIf="added">Se ha agregado al carrito!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <div class="container">
            <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
                <li class="nav-item"><a data-toggle="tab" href="#description" role="tab" class="nav-link detail-nav-link active">Descripción</a></li>
                <li *ngIf="item.specifications.length > 0" class="nav-item"><a data-toggle="tab" href="#additional-information" role="tab" class="nav-link detail-nav-link">Información
                        Adicional</a></li>
            </ul>
            <div class="tab-content py-4">
                <div id="description" role="tabpanel" class="tab-pane active px-3">
                    {{item.description}}
                </div>
                <div id="additional-information" role="tabpanel" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table text-sm">
                                <tbody>
                                    <tr *ngFor="let specification of item.specifications|slice:0:4">
                                        <th class="text-uppercase font-weight-normal border-0">{{specification.name}}
                                        </th>
                                        <td class="text-muted border-0">{{specification.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table text-sm">
                                <tbody>
                                    <tr *ngFor="let specification of item.specifications|slice:4:8">
                                        <th class="text-uppercase font-weight-normal border-0">{{specification.name}}
                                        </th>
                                        <td class="text-muted border-0">{{specification.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- you might also like  -->
    <section class="my-5">
        <div class="container">
            <header class="text-center">
                <h6 class="text-uppercase mb-5">Quizás te guste también...</h6>
            </header>
            <div class="row">
                <div *ngFor="let item of otherItems" class="col-lg-2 col-md-4 col-6">
                    <div class="product mx-auto">
                        <div class="product-image">
                            <img [src]="item.images[0]" alt="product" class="img-fluid" />
                            <div class="product-hover-overlay">
                                <a [routerLink]="['/item', item._id]" (click)="top()" class="product-hover-overlay-link"></a>
                            </div>
                        </div>
                        <div class="py-2">
                            <h3 class="h6 text-uppercase mb-1">
                                <a [routerLink]="['/item', item._id]" (click)="top()" class="text-dark" style="cursor: pointer">{{item.name}}</a>
                            </h3><span class="text-muted">{{item.price|currency}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>