.product-detail-title {
    font-size: 3rem;
    //text-align: center;
}
.multi-words {
    text-align:center;
    font-size:1.1rem;
}

//CAROUSEL
.carousel-item{
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control-prev, .carousel-control-next {
    width:4%;
}

.item-image{
    max-height: 500px;
}

@media only screen and (max-width: 991px){
    
    .item-image{
        max-height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    
    .section-title {
        text-align: center;
    }
}