<div class="container-90">
  <!-- Hero Section-->
  <section class="hero">
    <div class="hero-content text-center">
      <h2 class="hero-heading">Carrito de Compras</h2>
    </div>
  </section>
  <hr>
  <!-- Shopping Cart Section-->
  <section>
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-8">
          <div class="cart">
            <div class="cart-header text-center" *ngIf="_cartService.arrItemCart.length > 0">
              <div class="row">
                <div class="col-md-5">Item</div>
                <div class="col-md-7 d-none d-md-block">
                  <div class="row">
                    <div class="col-md-3">Precio</div>
                    <div class="col-md-4">Cantidad</div>
                    <div class="col-md-3">Total</div>
                    <div class="col-md-2"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-body">
              <!-- Product-->
              <div class="cart-item" *ngFor="let itemCart of _cartService.arrItemCart; let i=index">
                <div class="row d-flex align-items-center text-left text-md-center">
                  <div class="col-12 col-md-5"><a href="#" class="cart-remove close mt-3 d-md-none"><i
                        class="fa fa-times">
                      </i></a>
                    <div class="d-flex align-items-center"><a [routerLink]="['/item',itemCart.item.id]"><img
                          [src]="itemCart.item.image" alt="..." class="cart-item-img"></a>
                      <div class="cart-title text-left"><a [routerLink]="['/item',itemCart.item.id]"
                          class="text-uppercase text-dark"><strong>{{itemCart.item.name}}</strong></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-7 mt-4 mt-md-0">
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-6 d-md-none text-muted">Precio</div>
                          <div class="col-6 col-md-12 text-right text-md-center">{{itemCart.item.price|currency}}</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row align-items-center">
                          <div class="d-md-none col-7 col-sm-9 text-muted">Cantidad</div>
                          <div class="col-5 col-sm-3 col-md-12">
                            <div class="d-flex align-items-center">
                              <div class="col-6 col-md-12 text-right text-md-center">{{itemCart.quantity}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-6 d-md-none text-muted">Total price </div>
                          <div class="col-6 col-md-12 text-right text-md-center">{{itemCart.item.price *
                            itemCart.quantity|currency}}</div>
                        </div>
                      </div>
                      <div class="col-2 d-none d-md-block text-center"><button
                          (click)="_cartService.removeItem(itemCart)" class="btn">
                          <i class="delete fa fa-times"></i></button></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Product-->
            </div>
          </div>
          <div class="my-5 d-flex justify-content-between flex-column flex-lg-row"
            *ngIf="_cartService.arrItemCart.length > 0">
            <a [routerLink]="['/home']" class="btn btn-link text-muted">
              <i class="fa fa-chevron-left"></i> Me faltó algo!
            </a>
            <a [routerLink]="['/checkout']" class="btn btn-outline-dark">Listo! <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
        <!--Order Summary-->
        <div class="col-lg-4">
          <div class="block mb-5">
            <div class="block-header">
              <h6 class="text-uppercase mb-0">Resumen</h6>
            </div>
            <div class="block-body bg-light pt-1">
              <hr>
              <ul class="order-summary mb-0 list-unstyled">
                <li class="order-summary-item border-0"><span>Total</span><strong
                    class="order-summary-total">{{_cartService.total|currency}}</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>