<!-- Hero Section-->
<section class="mh-full-screen dark-overlay py-7 d-flex align-items-center justify-content-center"><img
    src="img/photo/photo-1534126511673-b6899657816a.jpg" alt="" class="bg-image">
  <div class="overlay-content w-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 text-white">
          <h6 class="text-uppercase text-white letter-spacing-5 mb-3">Acerca de nosotros</h6>
          <h1 class="display-3 font-weight-bold text-shadow mb-5">Somos Camaleon</h1>
          <p class="text-lg">Somos un e-commerce de emprendimientos genuinos, creativos, innovadores y sobre todo, de
            alta calidad!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 bg-gray-100">
        <div class="container my-5">
          <h3 class="mb-4">1. El problema que resolverá o la necesidad que el emprendimiento pretende satisfacer</h3>
          <p class="text-lg text-muted">Buscamos resolver problemas típicos que acarrean las "tiendas virtuales"
            emergentes como:</p>
          <li class="text-lg text-muted">Ttienda virtual</li>
          <li class="text-lg text-muted">Logística de entregas</li>
          <li class="text-lg text-muted">Pagos en línea</li>
          <li class="text-lg text-muted">Información centralizada</li>
          <li class="text-lg text-muted">Estadísticas tiempo real</li>
          <li class="text-lg text-muted">Control de inventario</li>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 bg-white-100">
        <div class="container my-5">
          <h3 class="mb-4">2. Los usuarios y/o clientes que tienen ese problema o necesidad y la forma en que el
            empredimiento interactúa o interactuará con ellos</h3>
          <p class="text-lg text-muted"><b>Cliente: </b>emprendimientos enfocados a la venta de productos</p>
          <p class="text-lg text-muted"><b>Interacción: </b>hacemos la búsqueda de dicho cliente en los lugares más
            típicos como Instagram, Facebook, etc.
            Contactámos los que vemos perfilados como potenciales clientes y mediante una reunión pactada, creamos el
            vínculo entre ambas partes. Contamos luego con canales de comunicación varios como correo electrónico,
            WhatsApp, Facebook e Instagram. El proceso detallado a continuación:</p>
          <li class="text-lg text-muted">EL cliente acepta la alianza con Camaleon</li>
          <li class="text-lg text-muted">Dado un correo electrónico, compartimos una carpeta Google Drive en cuya
            estructura tiene las ubicaciones
            en donde el cliente o Camaleon debe alojar las imágenes de logo, banner, productos. De igual manera, en
            dicha carpeta
            compartida, se incluye una hoja de cálculo debidamente organizada para ubicar cada referencia que venda</li>
          <li class="text-lg text-muted">Una vez entregada toda la informaión requerida se monta la tienda virtual de 2
            a 5 días habiles</li>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 bg-gray-100">
        <div class="container my-5">
          <h3 class="mb-4">3. La propuesta de solución diferencial al problema identificado. Ese diferenciales frente a
            lo existente en el mercado y a la forma en que esas personas resuelven su problema o satisfacen su necesidad
            actualmente</h3>
          <p class="text-lg text-muted"><b>Solución diferencial:</b></p>
          <li class="text-lg text-muted">Cada emprendimiento podrá tener un estilo propio dentro de Camaleon</li>
          <li class="text-lg text-muted">Camaleon se encarga de la entrega de los pedidos</li>
          <li class="text-lg text-muted"><b>Camaleon solo comprenderá marcas que tengan un trabajo adicional, un sello
              propio y que
              mantengan calidad en cuanto a diseño y producto</b></li>
          <li class="text-lg text-muted">Comisión justa y cómoda</li>
          <br>
          <p class="text-lg text-muted"><b>¿Cómo resuelven actualmente estos problemas?</b></p>
          <li class="text-lg text-muted">"Tienda virtual" en Instagram o Facebook</li>
          <li class="text-lg text-muted">Entregas puerta a puerta</li>
          <li class="text-lg text-muted">Pagos contraentrega</li>
          <li class="text-lg text-muted">Información manual y descentralizada</li>
        </div>
      </div>
    </div>
  </div>
</section>