<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid
        }

        table {
            border-collapse: collapse
        }

        th,
        td {
            padding: 5px 10px 5px 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <p>
            Hola **storeName**!
            <br>
            <br>
            Tienes un pedido por preparar
        </p>

        <br>

        **tableItems**

        <br>

        <p>
            Por favor alista el pedido, nos pondremos en contacto para ir por él :D
        </p>

    </div>
</body>

</html>