<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid
        }

        table {
            border-collapse: collapse
        }

        th,
        td {
            padding: 5px 10px 5px 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <p>
            Hola **userName**!
            <br>
            <br>
            Has solicitado cambiar tu contraseña. Ingresa por el link a continuación:
        </p>

        <br>

        <!-- <a href="https://www.camaleon.shop/passwordNew">Cambiar contraseña!</a> -->
        <a href="http://localhost:4200/passwordNew?token=**token**">Cambiar contraseña!</a>

        <br>
        <br>

        <p>
            Un saludo del equipo de Camaleon :D
        </p>

    </div>
</body>

</html>