<div class="my-3">

  <div class="row border border-primary">
    <div class="col text-center border border-primary">
      <img class="border border-primary" [src]="store.image" alt="" width="300px" height="300px">
    </div>
    <div class="col text-justify border border-primary">
      <table style="width: 100%">
        <tbody>
          <tr>
            <td class="align-middle">  
              <h2>{{store.name}}</h2>
              <p>{{store.description}}</p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- <table style="width: 100%">
    <tbody>
      <tr>
        <td class="">
          <img [src]="store.image" alt="" width="300px" height="300px">
        </td>
        <td class="align-middle pl-5">
          <h2>{{store.name}}</h2>
          <p>{{store.description}}</p>
        </td>
      </tr>
    </tbody>
  </table> -->

  <hr>

  <div class="card-columns">
    <div class="card" *ngFor="let item of items">
      <img [src]="item.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.price|currency}}</p>
      </div>
    </div>
  </div>

</div>