@import '../../../styles/variables.less';

@hs-opacity:0.7;

.section-title {
    text-align: left;
}

.rounded-border {
    border-radius: 10px;
}

.more-stores{
    .rounded-border();
    .btn-colors(white, @camaleon-black, @camaleon-black);
    .font-settings(500; none; 2rem; @main-font);
}

.logo-padding-5{
    padding-right: 5px;
    padding-left: 5px;
}

.no-link:hover{
    text-decoration: none;
}

.cutline{
    border-top: solid 2px;
    color:white;
}

.product {
    max-width: 150px;
}

.product-title {
    font-size: 1rem;
}

.product-store {
    font-size: 1rem;
}

.no-padding {
    padding: 0;
}

.border-width-3 {
    border-width: 3px;
}

.description{
    font-size:16px;
}


//HOMESLIDER
.hs-mobile{
    display:none;
}
.hs-desktop{
    height:330px;
}

.slide{
    width:100%;
}
.carousel-control-prev, .carousel-control-next {
    width:4%;
}

.carousel-item{
    background-repeat: no-repeat;
    background-size: cover;

    .right{
        float:right;
        padding-left: 25px; 
        padding-right: 4%;
        text-align: right;
    }
    .left{
        float:left;
        padding-left: 4%; 
        padding-right: 25px;
        text-align: left;
    }

    .hs-text-block {
        cursor: pointer;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transform: translate(0,33%);
        max-width: 768px;
        
        .title(){
            .font-settings(700; none; 22px);
        }

        .title-lemon{
            .title();
            color:@camaleon-lemon;
        }

        .title-dark-blue{
            .title();
            color:@camaleon-dark-blue;
        }

        .subtitle(){
            .font-settings(500; none; 18px);
        }

        .subtitle-white{
            .subtitle();
            color:white;
        }
        .subtitle-lemon{
            .subtitle();
            color:@camaleon-lemon;
        }
        .subtitle-dark-blue{
            .subtitle();
            color:@camaleon-dark-blue;
        }

        .cta(){
            border-radius: 5px;
            border: solid 1px;
            letter-spacing: .0em;
            text-transform: none;
            .font-settings(800; none; 12px);
        }

        .cta-white-dark-blue{
            .cta();
            .btn-colors(@camaleon-dark-blue; white; @camaleon-dark-blue);
        }
        .cta-salmon-dark-blue{
            .cta();
            .btn-colors(@camaleon-dark-blue; @camaleon-salmon; @camaleon-dark-blue);
        }

        .slogan(){
            .font-settings(300; none; 12px);
        }

        .slogan-dark-blue{
            .slogan();
            color: @camaleon-dark-blue;
        }

        .slogan-lemon{
            .slogan();
            color:@camaleon-lemon;
        }

    }
    .black{
        background-color: rgba(@camaleon-black,@hs-opacity);
    }

    .blue{
        background-color: rgba(@camaleon-blue, @hs-opacity);
    }

    .yellow{
        background-color: rgba(@camaleon-yellow,@hs-opacity);
    }
}

//CATEGORIAS

.category-icon {
    transition-duration: 0.3s;
}

.category-icon:hover:hover {
    transform: translateY(-10%);
    transition-duration: 0.3s;
}

.icon-mas-tiendas-circle{
    fill:none;
    stroke:#fff;
    stroke-width:80;
    stroke-miterlimit:10;
}
.icon-mas-tiendas-lines{
    fill:none;
    stroke:#fff;
    stroke-width:80;
    stroke-linecap:round;
    stroke-miterlimit:10;
}

.pink-category{
    .btn-colors(@camaleon-pink, none, @camaleon-pink);
    .rounded-border();
    border: solid 4px @camaleon-pink;
}

.orange-category{
    .btn-colors(@camaleon-orange, none, @camaleon-orange);
    .rounded-border();
    border: solid 4px @camaleon-orange;
}

.salmon-category{
    .btn-colors(@camaleon-salmon, none, @camaleon-salmon);
    .rounded-border();
    border: solid 4px @camaleon-salmon;
}

.lemon-category{
    .btn-colors(@camaleon-lemon, none, @camaleon-lemon);
    .rounded-border();
    border: solid 4px @camaleon-lemon;
}

.grass-category{
    .btn-colors(@camaleon-grass, none, @camaleon-grass);
    .rounded-border();
    border: solid 4px @camaleon-grass;
}

.green-category{
    .btn-colors(@camaleon-green, none, @camaleon-green);
    .rounded-border();
    border: solid 4px @camaleon-green;
}

.blue-category{
    .btn-colors(@camaleon-blue, none, @camaleon-blue);
    .rounded-border();
    border: solid 4px @camaleon-blue;
}

.category-letter{
    .font-settings(300, none, 3.5rem, @logo-font)
}

.category-text{
    .font-settings(300, none, 1rem, @main-font)
}

@media only screen and (max-width: 768px) {
    
    .category-icon:hover:hover {
        transform: none;
        transition-duration: none;
    }
    .product-title {
        font-size: .9rem;
    }
    .product-store {
        font-size: .9rem;
    }
    .more-stores{
        .font-settings(500; none; 1.5rem; @main-font);
    }
    .section-title {
        text-align: center;
    }

    .hs-mobile{
        display:block;
    }

    .carousel-item{
        height:100%;
        .right{
            float:none;
            padding-left: 4%; 
            padding-right: 4%;
            text-align: center;
        }
        .left{
            float:none;
            padding-left: 4%; 
            padding-right: 4%;
            text-align: center;
        }
        .hs-text-block {
            padding-top: 10px;
            padding-bottom: 10px;
            transform: none;
            text-align:center;
            .title(){
                .font-settings(700; none; 17px);
            }
    
            .title-lemon{
                .title();
                color:@camaleon-lemon;
            }
    
            .title-dark-blue{
                .title();
                color:@camaleon-dark-blue;
            }
    
            .subtitle(){
                .font-settings(500; none; 13px);
            }
    
            .subtitle-white{
                .subtitle();
                color:white;
            }
            .subtitle-lemon{
                .subtitle();
                color:@camaleon-lemon;
            }
            .subtitle-dark-blue{
                .subtitle();
                color:@camaleon-dark-blue;
            }
    
            .cta(){
                border-radius: 5px;
                border: solid 1px;
                letter-spacing: .0em;
                text-transform: none;
                .font-settings(800; none; 10px);
            }
    
            .cta-white-dark-blue{
                .cta();
                .btn-colors(@camaleon-dark-blue; white; @camaleon-dark-blue);
            }
            .cta-salmon-dark-blue{
                .cta();
                .btn-colors(@camaleon-dark-blue; @camaleon-salmon; @camaleon-dark-blue);
            }
    
            .slogan(){
                .font-settings(300; none; 12px);
            }
    
            .slogan-dark-blue{
                .slogan();
                color: @camaleon-dark-blue;
            }
    
            .slogan-lemon{
                .slogan();
                color:@camaleon-lemon;
            }
    
        }
        .black{
            background-color: rgba(@camaleon-black,@hs-opacity);
        }
    
        .blue{
            background-color: rgba(@camaleon-blue, @hs-opacity);
        }
    
        .yellow{
            background-color: rgba(@camaleon-yellow,@hs-opacity);
        }
    }
}