<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" attr.data-slide-to="{{hs[0]-1}}" [class.active]="(hs[0] == 1)" *ngFor="let hs of homesliders"></li>
    </ol>
    <div class="carousel-inner w-100">
        <!-- <div class="carousel-item hs-desktop" [class.active]="(hs[0] == 1)" ng-style="isMobile && ({ 'background-image': 'url(' + hs[1] + ')'})" *ngFor="let hs of homesliders"> -->
        <div class="carousel-item hs-desktop" [class.active]="(hs[0] == 1)" [ngStyle]="{'background-image': (isMobile) ? 'none' : 'url(' + hs[1] + ')' }" *ngFor="let hs of homesliders">

            <img class="w-100 hs-mobile" [src]="hs[1]" [alt]="hs[2]">
            <div *ngIf="(hs[0] == 1)" class="hs-text-block right blue" (click)="goHomeslider(hs[2])">
                <div class="title-dark-blue">¡Llegó la hora de conocernos!</div>
                <div class="subtitle-white">Encuentra variedad de productos novedosos y exclusivos de nuestros emprendmientos aliados</div>
                <div class="btn cta-salmon-dark-blue my-3">¡Ver catálogo!</div>
                <div class="slogan-dark-blue my-0">#Tu Tienda, Tu Espacio</div>
            </div>
            <a ng-href="{/contacts}">
                <div *ngIf="(hs[0] == 2)" class="hs-text-block left black" (click)="goHomeslider(hs[2])">
                    <div class="title-lemon">Camaleon la nueva plataforma que</div>
                    <div class="subtitle-white">ayuda a emprendimientos colombianos en su crecimiento</div>
                    <div class="btn cta-white-dark-blue my-3">¡Haz parte de nuestra comunidad!</div>
                    <div class="slogan-lemon my-0">#Tu Tienda, Tu Espacio</div>
                </div>
            </a>
            <div *ngIf="(hs[0] == 3)" class="hs-text-block right yellow" (click)="goHomeslider(hs[2])">
                <div class="title-dark-blue">Descubre nuestras tiendas aliadas</div>
                <div class="subtitle-dark-blue">y enamórate de ellas <br>&hearts;</div>
                <div class="btn cta-white-dark-blue my-3">¡Ver todas las tiendas!</div>
                <div class="slogan-dark-blue">#Tu Tienda, Tu Espacio</div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- SUMO al Banner: <a data-sumome-listbuilder-id="3c2c559e-d1ef-4544-999a-f47f6d694591 ">-->
<div class="container-90 ">

    <!--INICIO sección de categorías-->

    <div class="container-fluid mt-5 ">
        <hr>
        <h2 class="h3 section-title ">Categorías</h2>
        <div class="container-fluid ">
            <div class="row justify-content-center mx-auto col-md-10 ">
                <!-- <div class="pointer col-6 col-sm-4 col-md-2 text-center category-icon " *ngFor="let category of categoriesTop " (click)="goCategory(category) ">
                    <img class="img-fluid mx-auto mt-4 " [src]="category.image " alt="Card image cap ">
                </div> -->
                <!-- <div class="pointer col-6 col-sm-4 col-md-2 text-center category-icon " *ngFor="let category of categoriesTop " (click)="goCategory(category) ">
                    <div class="hogar-category">
                        <div class="w-75 m-auto">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 99 99.2" style="enable-background:new 0 0 99 99.2;" xml:space="preserve">
                                <g id="Hewf6x.tif_5_">
                                    <path class="icon-category-hogar" d="M47.5,2.3c1.4-0.3,2.4-0.4,4.1,0C54.6,3,57.1,4.7,59.1,7c0.6,0.6,1.2,1.2,1.8,1.9
                                        c10.8,11.2,21.7,22.4,32.5,33.6c1.8,1.8,3,3.9,3.4,6.4c0.1,0.4,0.1,0.7,0,1.1c-0.9,4.2-2.7,5.6-7,5.6c-1.2,0-2.3,0-3.5,0
                                        c-1.3,0-1.3,0-1.3,1.3c0,9.2,0,18.5,0,27.7c0,6.1-3.6,10.8-9.5,12.3c-5.7,0-11.5,0-17.2,0l-0.1-1.4c0-10.2,0-20.5,0-30.7
                                        c0-2.6-0.6-3.2-3.3-3.3c-0.2,0-0.3,0-0.5,0c-3.4,0-6.8,0-10.2,0c-0.6,0-1.2,0-1.7,0.1c-1.3,0.2-1.8,0.7-2,2c0,0.4,0,0.8,0,1.2
                                        c0,10.2,0,20.4,0,30.7c0,0.5,0,0.9-0.1,1.4c-5.7,0-11.5,0-17.2,0c-5.9-1.5-9.5-6.2-9.5-12.3c0-9.2,0-18.4,0-27.6
                                        c0-1.4,0-1.4-1.4-1.4c-1.1,0-2.3,0-3.4,0c-4.2,0-6-1.4-7-5.4c-0.1-0.4-0.1-0.8,0-1.3c0.4-2.5,1.6-4.5,3.3-6.3
                                        C17.1,30.6,28.6,18.7,40.1,6.8C42.2,4.6,44.6,3,47.5,2.3z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="category-text">Hogar</div>
                    </div>
                </div>
                <div class="pointer col-6 col-sm-4 col-md-2 text-center category-icon " *ngFor="let category of categoriesTop " (click)="goCategory(category) ">
                    <div class="moda-category">
                        <div class="w-75 m-auto">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 99 64.6" style="enable-background:new 0 0 99 64.6;" xml:space="preserve">
                                <g id="_x34_XXfNU.tif_2_">
                                    <path class="icon-cateogry-moda" d="M42.1,11.7l0-1.5c0-1.1,0.2-2,0.6-2.9c1-2.8,3.9-5.3,7.8-5c3.3,0,6.1,2.3,6.1,6.4c0.2,4-1.5,6.5-4.4,8.1
                                        c-1.6,0.9-2.4,3.1-2.3,5.3c0,0.2,0,0.7,0,0.9c0,0.1,2.8,1.6,2.8,1.6C64.8,31.8,77,39.5,89.1,46.7c1.4,0.8,2.8,1.7,4.2,2.6
                                        c2.9,1.7,4.2,4.7,3.4,7.8c-0.9,3.3-3.5,5.4-6.9,5.4l-80.5,0c-3.1,0-5.8-1.7-6.8-4.6c-1-2.7-0.3-5.9,2-7.8c1.3-1,2.8-1.8,4.3-2.7
                                        c9.3-5.6,18.6-11.1,27.9-16.7c3.5-2.1,7.1-4.2,10.6-6.3l2.5-1.4"/>
                                </g>
                           </svg>
                        </div>
                        <div class="category-text">Moda</div>
                    </div>
                </div> -->
                <div class="pointer col-6 col-sm-4 col-md-2 text-center category-icon " *ngFor="let category of categoriesTop " (click)="goCategory(category) ">
                    <div class="{{category.color}}-category  mt-4">
                        <div class="w-75 m-auto category-letter">
                            {{category.name.substring(0,1)}}
                        </div>
                        <div class="category-text">{{category.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 text-center ">
        <p class="description ">
            Camaleon es una plataforma digital que busca potenciar el crecimiento de los emprendimientos colombianos, al brindarles un espacio en donde puedan publicar sus productos innovadores.
        </p>
    </div>
    <div class="container-fluid my-5 col-md-12 ">
        <div class="row justify-content-center mx-auto ">
            <div class="card mb-2 mx-2 col-md-5 rounded-border border-width-3 ">
                <div class="row p-2 ">
                    <div class="col-md-2 col-sm-2 col-3 m-auto no-padding ">
                        <img src="../../../assets/img/icons/delivery.png " class="card-img no-padding " alt="delivery ">
                    </div>
                    <div class="col-md-9 col-xs-9 col-8 ">
                        <div class="row ">
                            <h5 class="card-title ">Envios a todo el país</h5>
                        </div>

                        <div class="row ">
                            <p class="card-text justify-content ">Llevamos los productos que compres donde sea que estés dentro del territorio colombiano</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2 mx-2 col-md-5 rounded-border border-width-3 ">
                <div class="row p-2 ">
                    <div class="col-md-2 col-sm-2 col-3 m-auto no-padding ">
                        <img src="../../../assets/img/icons/products.png " class="card-img no-padding " alt="delivery ">
                    </div>
                    <div class="col-md-9 col-xs-9 col-8 ">
                        <div class="row ">
                            <h5 class="card-title ">Productos diferentes</h5>
                        </div>
                        <div class="row ">
                            <p class="card-text justify-content ">Encuentra productos únicos, novedosos y exclusivos de emprendimientos colombianos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FIN sección de categorías-->
    <div *ngFor="let categoryItemsI of categoryItems">
        <h2 class="h3 section-title ">{{categoryItemsI.category.name}}</h2>
        <div class="row mt-4 ">
            <div *ngFor="let item of categoryItemsI.items" class="col-6 col-sm-4 col-md-2 ">
                <div class="product mx-auto ">
                    <div class="product-image ">
                        <img [src]="item.images[0] " alt="product " class="img-fluid" />
                        <div class="product-hover-overlay ">
                            <a [routerLink]="[ '/item',item._id] " class="product-hover-overlay-link "></a>
                            <div class="product-hover-overlay-buttons ">
                                <!-- <a (click)="addToCart(item) " class="btn btn-outline-dark btn-product-left ">
                                    <i class="fa fa-shopping-cart "></i>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <h3 class="product-title">
                            <a [routerLink]="[ '/item',item._id] " class="text-dark ">{{item.name}}
                            </a>
                        </h3>
                        <h4 class="product-store">
                            <a [routerLink]="[ '/store',item._storeCodeName] " class="store-name ">{{item._storeCodeName|storeName}}
                            </a>
                        </h4>
                        <span class="text-muted ">{{item.price|currency}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="card-deck my-4 "><div class="row ">
        <div *ngFor="let item of itemsLine2 " class="col-xl-2 col-6 ">
            <div class="product ">
                <div class="product-image ">
                    <img [src]="item.images[0] " alt="product " class="img-fluid " />
                    <div class="product-hover-overlay ">
                        <a [routerLink]="[ '/item',item._id] " class="product-hover-overlay-link "></a>
                        <div class="product-hover-overlay-buttons ">
                            <a (click)="addToCart(item) " class="btn btn-outline-dark btn-product-left ">
                                <i class="fa fa-shopping-cart "></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2 ">
                    <h3 class="h6 text-uppercase mb-1 ">
                        <a [routerLink]="[ '/item',item._id] " class="text-dark ">{{item.name}}
                        </a>
                    </h3>
                    <h3 class="h6 mb-1 ">by
                        <a [routerLink]="[ '/store',item._storeCodeName] " class=" ">{{item._storeCodeName|storeName}}
                        </a>
                    </h3>
                    <span class="text-muted ">{{item.price|currency}}</span>
                </div>
            </div>
        </div>
    </div>
    </div> -->

    <hr>

    <div>
        <h2 class="h3 section-title mb-4">Tiendas</h2>
        <div class="col-12">
            <div class="row justify-content-center mx-auto ">
                <div class="pointer col-6 col-sm-4 col-md-2 text-center category-icon logo-padding-5" *ngFor="let store of storesLine" (click)="goStore(store) ">
                    <img class="img-fluid mx-auto mt-0 rounded-border" [src]="store.imageLogo " alt="Card image cap ">
                </div>
                <div class="pointer col-6 col-sm-4 col-md-2 text-center category-icon logo-padding-5">
                    <a class="no-link" [routerLink]="[ '/stores'] ">
                        <!-- <img class="img-fluid mx-auto mt-4 rounded-border " src="../../../assets/img/more-brands.png " alt="Card image cap "> -->
                        <div class="more-stores h-100">
                            <div>Más <br> Tiendas</div>
                            <div class="w-75 m-auto pt-2 cutline"></div>
                            <div class="w-25 m-auto ">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1693 1683.8" style="enable-background:new 0 0 1693 1683.8;" xml:space="preserve">
                                    <circle class="icon-mas-tiendas-circle" cx="846.1" cy="841.8" r="800"/>
                                    <line class="icon-mas-tiendas-lines" x1="846.1" y1="1343.1" x2="846.1" y2="340.5"/>
                                    <line class="icon-mas-tiendas-lines" x1="344.8" y1="841.8" x2="1347.4" y2="841.8"/>
                                    </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--<div id="carouselExampleIndicators " class="carousel slide " data-ride="carousel ">
        <ol class="carousel-indicators ">
            <li data-target="#carouselExampleIndicators " data-slide-to="0 " class="active "></li>
            <li data-target="#carouselExampleIndicators " data-slide-to="1 "></li>
            <li data-target="#carouselExampleIndicators " data-slide-to="2 "></li>
        </ol>
        <div class="carousel-inner ">
            <div class="carousel-item active ">
                <div class="card-deck mt-4 ">
                    <div class="card " style="cursor:pointer " *ngFor="let store of storesLine " (click)="goStore(store) ">
                        <img class="card-img-top " [src]="store.imageLogo " alt="Card image cap ">
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="card-deck mt-4 ">
                    <div class="card " style="cursor:pointer " *ngFor="let store of storesLine " (click)="goStore(store) ">
                        <img class="card-img-top " [src]="store.imageLogo " alt="Card image cap ">
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="card-deck mt-4 ">
                    <div class="card " style="cursor:pointer " *ngFor="let store of storesLine " (click)="goStore(store) ">
                        <img class="card-img-top " [src]="store.imageLogo " alt="Card image cap ">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev " href="#carouselExampleIndicators " role="button " data-slide="prev ">
            <span class="carousel-control-prev-icon " aria-hidden="true "></span>
            <span class="sr-only ">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleIndicators " role="button " data-slide="next ">
            <span class="carousel-control-next-icon " aria-hidden="true "></span>
            <span class="sr-only ">Next</span>
        </a>
    </div>-->
</div>