//Colores Camaleon Logo
@camaleon-pink: #EF1E7A;
@camaleon-orange: #F7931E;
@camaleon-salmon: #FBB03E;
@camaleon-yellow:#FFF103;
@camaleon-lemon:#D6DF22;
@camaleon-grass: #8BC73D;
@camaleon-green: #3AB549;
@camaleon-blue: #03AEEF;
@camaleon-black: #242020;
@camaleon-dark-blue: #00516c;

@btn-color: @camaleon-pink;
@link-color: @camaleon-blue;

@main-font:'Montserrat';
@hs-opacity:0.7;

.container-90{
    margin: 0 auto;
    margin-top:30px;
    width: 90%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.pointer{
    cursor:pointer;
}
.section-title {
    text-align: left;
}

.product {
    max-width: 150px;
}

.product-title {
    font-size: 1rem;
}

.product-store {
    font-size: 1rem;
}

.store-name {
    text-transform: capitalize;
}

.rounded-border {
    border-radius: 10px;
}

.no-padding {
    padding: 0;
}
.card-icon {
    max-width: 100%;
}
.border-width-3 {
    border-width: 3px;
}
.description{
    font-size:16px;
}
.category{

}
.category-icon {
    transition-duration: 0.3s;
}
.category-icon:hover:hover {
    transform: translateY(-10%);
    transition-duration: 0.3s;
}
.fab {
    font-size: 1.5rem;
}
.fa-whatsapp{
    color:#16E676;
}
.fa-facebook{
    color:#3E62A9;
}
.fa-instagram{
    background: linear-gradient(to top right,#F2B360,#A62DA0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //color:#A62DA0;
}
.fa-linkedin{
    color:#0077B5;
}
.detail-option-heading{
    text-transform: capitalize;
}
.product-detail-title {
    font-size: 3rem;
    //text-align: center;
}
.multi-words {
    text-align:center;
    font-size:1.1rem;
}
.product-detail-store {
    text-transform: capitalize;//TODO ver si por la marca algunos nos quieran la mayuscula
}
.menu-mobile{
    display:none !important;
}
.logo-img{
    height:35px;
}
.navbar .nav-link {
    color: #fff !important;
    font-weight: 100 !important;
}
.hs-mobile{
    display:none;
}
.hs-desktop{
    height:330px;
}

.slide{
    width:100%;
    
}
.item-image{
    max-height: 500px;
}

.carousel-item{
    background-repeat: no-repeat;
    background-size: cover;

    .right{
        float:right;
        padding-left: 25px; 
        padding-right: 4%;
        text-align: right;
    }
    .left{
        float:left;
        padding-left: 4%; 
        padding-right: 25px;
        text-align: left;
    }

    .hs-text-block {
        cursor: pointer;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transform: translate(0,33%);
        max-width: 768px;
        
        .title(){
            .font-settings(700; none; 22px);
        }

        .title-lemon{
            .title();
            color:@camaleon-lemon;
        }

        .title-dark-blue{
            .title();
            color:@camaleon-dark-blue;
        }

        .subtitle(){
            .font-settings(500; none; 18px);
        }

        .subtitle-white{
            .subtitle();
            color:white;
        }
        .subtitle-lemon{
            .subtitle();
            color:@camaleon-lemon;
        }
        .subtitle-dark-blue{
            .subtitle();
            color:@camaleon-dark-blue;
        }

        .cta(){
            border-radius: 5px;
            border: solid 1px;
            letter-spacing: .0em;
            text-transform: none;
            .font-settings(800; none; 12px);
        }

        .cta-white-dark-blue{
            .cta();
            .btn-colors(@camaleon-dark-blue; white; @camaleon-dark-blue);
        }
        .cta-salmon-dark-blue{
            .cta();
            .btn-colors(@camaleon-dark-blue; @camaleon-salmon; @camaleon-dark-blue);
        }

        .slogan(){
            .font-settings(300; none; 12px);
        }

        .slogan-dark-blue{
            .slogan();
            color: @camaleon-dark-blue;
        }

        .slogan-lemon{
            .slogan();
            color:@camaleon-lemon;
        }

    }
    .black{
        background-color: rgba(@camaleon-black,@hs-opacity);
    }

    .blue{
        background-color: rgba(@camaleon-blue, @hs-opacity);
    }

    .yellow{
        background-color: rgba(@camaleon-yellow,@hs-opacity);
    }
}
.main-footer{
    border-top: solid 1px lightgray;
}
.carousel-control-prev, .carousel-control-next {
    width:4%;
}
.only-mobile{
    display:none;
}
.only-desktop{
    display:block;
}
.collapse:not(.show) {
    display: block;
}
.summary{
    .title{
        .font-settings(700; none; 2.7rem);
    }
    .sub-title{
        .font-settings(500; bold; 17px);
        padding-right: 0.4rem;
    }
    .sub-title-detail{
        .font-settings(300; none; 17px);
    }
}



@media only screen and (max-width: 991px){
    .menu-mobile{
        display:flex !important;
    }
    .only-mobile{
        display:block;
    }
    .collapse:not(.show) {
        display: none;
    }
    .only-desktop{
        display:none;
    }
    .item-image{
        max-height: 300px;
    }
    .category{
        justify-content: center;
    }
    .category-title{
        text-align: center;
    }
    .summary{
        .title{
            text-align:center;
        }
        .row{
            justify-content: center;
        }   
    }
    .order-detail{
        .title{
            margin-top: 1rem;
            .font-settings(500, none, 1.125rem,)
        }
        .detail{
            .font-settings(300, none, 0.9rem,)
        }
    }
}
@media only screen and (max-width: 768px) {
    .product-title {
        font-size: .9rem;
    }
    .product-store {
        font-size: .9rem;
    }
    .section-title {
        text-align: center;
    }
    .product-detail-title {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 0.0rem;
    }
    .product-detail-store {
        font-size: 1.4rem;
    }
    .multi-words {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        margin-top:0;
        font-size:1.1rem;
    }
    .nav-link{
        color:#ccc !important;
        letter-spacing:0.05rem !important;
        font-size: 0.9rem !important;
        padding: 0.8rem 0.8rem !important;
        text-transform: capitalize !important;
        font-weight: 0px !important;
    }
    .nav-link.active{
        color:#000 !important;
        letter-spacing:0.05rem !important;
        font-size: 1rem !important;
        padding: 0.8rem 0.8rem !important;
        text-transform: capitalize !important;
    }
    .detail-option-heading{
        font-size:0.8rem;
    }
    .whatsapp{
        visibility: hidden;
    }
    .whatsapp-mobile{
        visibility: block;
    }
    .menu-mobile{
        display:flex !important;
    }
    .logo-img{
        height:25px;
    }
    .hs-mobile{
        display:block;
    }
    // .hs-desktop{
    //     display:none;
    // }
    .carousel-item{
        height:100%;
        .right{
            float:none;
            padding-left: 4%; 
            padding-right: 4%;
            text-align: center;
        }
        .left{
            float:none;
            padding-left: 4%; 
            padding-right: 4%;
            text-align: center;
        }
        .hs-text-block {
            padding-top: 10px;
            padding-bottom: 10px;
            transform: none;
            text-align:center;
            .title(){
                .font-settings(700; none; 17px);
            }
    
            .title-lemon{
                .title();
                color:@camaleon-lemon;
            }
    
            .title-dark-blue{
                .title();
                color:@camaleon-dark-blue;
            }
    
            .subtitle(){
                .font-settings(500; none; 13px);
            }
    
            .subtitle-white{
                .subtitle();
                color:white;
            }
            .subtitle-lemon{
                .subtitle();
                color:@camaleon-lemon;
            }
            .subtitle-dark-blue{
                .subtitle();
                color:@camaleon-dark-blue;
            }
    
            .cta(){
                border-radius: 5px;
                border: solid 1px;
                letter-spacing: .0em;
                text-transform: none;
                .font-settings(800; none; 10px);
            }
    
            .cta-white-dark-blue{
                .cta();
                .btn-colors(@camaleon-dark-blue; white; @camaleon-dark-blue);
            }
            .cta-salmon-dark-blue{
                .cta();
                .btn-colors(@camaleon-dark-blue; @camaleon-salmon; @camaleon-dark-blue);
            }
    
            .slogan(){
                .font-settings(300; none; 12px);
            }
    
            .slogan-dark-blue{
                .slogan();
                color: @camaleon-dark-blue;
            }
    
            .slogan-lemon{
                .slogan();
                color:@camaleon-lemon;
            }
    
        }
        .black{
            background-color: rgba(@camaleon-black,@hs-opacity);
        }
    
        .blue{
            background-color: rgba(@camaleon-blue, @hs-opacity);
        }
    
        .yellow{
            background-color: rgba(@camaleon-yellow,@hs-opacity);
        }
    }

    .center-title {
        text-align:center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .store-description{
        text-align:justify;//center;
    }

    .register-title{
        text-align: center;
    }
    .only-mobile{
        display:block;
    }
    .only-desktop{
        display:none;
    }
    .collapse:not(.show) {
        display: none;
    }
    .cart-item-img{
        max-width: 120px;
    }
}

//MIXINS
.btn-colors(@font-color; @background-color; @border-color){
    color: @font-color;
    background-color: @background-color;
    border-color: @border-color;
}

.font-settings(@weight; @style:none; @size; @family:@main-font){
    font-family: @family, sans-serif;
    font-weight: @weight;
    font-style: @style;
    font-size: @size;
}