<div class="container-90">
  <section class="hero">
    <div class="hero-content text-center">
      <h2 class="hero-heading">Mi Nueva Contraseña :D</h2>
    </div>
  </section>

  <hr>
  <section>
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-6">
          <div class="block">
            <div class="block-body">
              <form ngNativeValidate [formGroup]="formNew" (ngSubmit)="newPassword()">

                <div class="form-group">
                  <label for="password1" class="form-label">Nuevo Password</label>
                  <input formControlName="password1" name="password1" id="password1" type="password"
                    class="form-control" minlength="8" required>

                </div>

                <div class="form-group">
                  <label for="password2" class="form-label">De nuevo :)</label>
                  <input formControlName="password2" name="password2" id="password2" type="password"
                    class="form-control" minlength="8" required>
                </div>

                <div class="form-group text-center">
                  <button type="submit" class="btn btn-outline-dark">
                    <i class="far fa-paper-plane mr-2"></i>Enviar!
                  </button>
                </div>

              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>