<div class="container-90">

    <section class="hero">
        <div class="hero-content text-center">
            <h2 class="hero-heading">{{category.name}}</h2>
        </div>
    </section>
    <hr>

    <div class="container">
        <!-- Grid -->
        <div class="row">
            <!-- product-->
            <div *ngFor="let item of items" class="col-xl-3 col-6">
                <div class="product mx-auto">
                    <div class="product-image">
                        <a [routerLink]="['/item',item._id]" class="product-hover-overlay-link">
                            <img [src]="item.images[0]" alt="product" class="img-fluid" />
                        </a>
                    </div>
                    <div class="py-2">
                        <h3 class="product-title">
                            <a [routerLink]="[ '/item',item._id] " class="text-dark ">{{item.name}}
                            </a>
                        </h3>
                        <h4 class="product-store">
                            <a [routerLink]="[ '/store',item._storeCodeName] " class="capitalize ">{{item._storeCodeName|storeName}}
                            </a>
                        </h4>
                        <span class="text-muted ">{{item.price|currency}}</span>
                    </div>
                </div>
            </div>
            <!-- /product-->
        </div>
        <!-- / Grid End-->
    </div>
</div>