<div class="mt-5">
  <h1>El equipo</h1>
</div>

<div class="card-deck mt-5">
  <div class="card">
    <img class="card-img-top" src="assets/img/integrante_1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nicolás Jaramillo</h5>
      <p class="card-text">Ingeniero Civil</p>
      <p class="card-text"><small class="text-muted">:D</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/integrante_2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Andrés Cagua</h5>
      <p class="card-text">Ingeniero de Sistemas y Computación</p>
      <p class="card-text"><small class="text-muted">;)</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/integrante_3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nicolaz Pérez</h5>
      <p class="card-text">Ingeniero de Sistemas y Computación</p>
      <p class="card-text"><small class="text-muted">:P</small></p>
    </div>
  </div>
</div>