<br>

<h3>PRODUCTOS DESTACADOS</h3>

<div class="card-deck mt-4">
    <div class="card" style="cursor:pointer" *ngFor="let item of itemsLine1">
        <img class="card-img-top" [src]="item.image" alt="Card image cap" (click)="goItem(item)">
        <div class="card-body">
            <h5 class="card-title">{{item.storeName}}</h5>
            <p class="card-text"><small class="text-muted">{{item.price|currency}}</small></p>
        </div>
    </div>
</div>

<div class="card-deck my-4">
    <div class="card" style="cursor:pointer" *ngFor="let item of itemsLine2">
        <img class="card-img-top" [src]="item.image" alt="Card image cap" (click)="goItem(item)">
        <div class="card-body">
            <h5 class="card-title">{{item.storeName}}</h5>
            <p class="card-text"><small class="text-muted">{{item.price|currency}}</small></p>
        </div>
    </div>
</div>

<hr>

<h3>TIENDAS</h3>

<div class="card-deck mt-4">
    <div class="card" style="cursor:pointer" *ngFor="let store of storesLine1" (click)="goStore(store)">
        <img class="card-img-top" [src]="store.image" alt="Card image cap">
    </div>
</div>