<div class="container-90">
  <!-- Hero Section-->
  <section class="hero">
    <div class="hero-content text-center">
      <h2 class="hero-heading">Checkout</h2>
    </div>
  </section>
  <hr>
  <!-- Checkout-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <form ngNativeValidate [formGroup]="forma" (ngSubmit)="onRegisterOrder()">
            <div class="block">
              <!-- Invoice Address-->
              <div class="block-body">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="emailaddress_invoice" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" formControlName="telephone" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="street_invoice" class="form-label">Dirección</label>
                    <input type="text" class="form-control" formControlName="address" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fullname_invoice" class="form-label">Quién Recibe?</label>
                    <input type="text" class="form-control" formControlName="whoReceives" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fullname_invoice" class="form-label">Método de Pago</label>
                    <select class="form-control" formControlName="paymentMethod" required>
                      <option *ngFor="let paymentMethod of arrPaymentMethod" [value]="paymentMethod._id">
                        {{paymentMethod.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fullname_invoice" class="form-label">Departamento</label>
                    <select class="form-control" formControlName="department"
                      (change)="selectDepartment($event.target.value)" required>
                      <option *ngFor="let dep of departments" [value]="dep.code">
                        {{dep.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fullname_invoice" class="form-label">Ciudad</label>
                    <select class="form-control" formControlName="city" required>
                      <option *ngFor="let cit of cities" [value]="cit.cityCode">
                        {{cit.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="message" class="form-label">Observaciones</label>
                    <textarea class="form-control" formControlName="comments" rows="3" id="message"
                      class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row">
              <a [routerLink]="['/shoppingCart']" routerLink="[/shoppingCart]" class="btn btn-link text-muted">
                <i class="fa fa-angle-left mr-2"></i>Volver al carrito
              </a>
              <button type="submit" class="btn btn-outline-dark"><i class="far fa-save mr-2"></i>Finalizar
                Orden!</button>
            </div>
          </form>

        </div>
        <div class="col-lg-4">
          <div class="block mb-5">
            <div class="block-header">
              <h6 class="text-uppercase mb-0">¿Cuánto voy a pagar?</h6>
            </div>
            <div class="block-body bg-light pt-1">
              <ul class="order-summary mb-0 list-unstyled">
                <li class="order-summary-item"><span>Subtotal </span><span>{{_cartService.total|currency}}</span></li>
                <li class="order-summary-item"><span>Envío</span><span>{{shippingCost|currency}}</span></li>
                <li class="order-summary-item"><span>Impuestos</span><span>$0.00</span></li>
                <li class="order-summary-item border-0"><span>Total</span><strong
                    class="order-summary-total">{{total|currency}}</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>